@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111111;
  }

  .dark {
    --background: #0c0c0c;
    --foreground: #f2f2f2;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  @apply bg-background text-foreground;
}
